/*WRAPPER*/
#wrapper{
    width: 921px;
    margin: 0px auto;
}
/*HEADER*/
#header{
    height: 354px;
}    
#header_logo{
    float: left;
    margin: 41px 0 0 18px;
}
#header_menu{
    margin: 10px 74px 0 348px;
}
#header_menu li{
    display: inline-block;
}
#header_menu_upper{
    text-align: right;
}
#header_menu_upper a{
    text-transform: uppercase;
    text-decoration: none;
    color: #898989;
}
#header_menu_main{
    background: url("../img/main-menu-bg.png") left top repeat-x;
    border-radius: 3px;
    height: 36px;
    margin-top: 9px;
    text-align: right;
}
#header_menu_main a{
    text-decoration: none; 
    color: #ffffff;  
        
}
#header_menu_main a:hover{
    text-decoration: none; 
    color: #3460a0;  
    background-color: #ffffff;
}
/*HEADER END*/